request-web/Connected Services/WebService/RequestWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://178.46.158.29:8001/RequestWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" />
  <xs:import schemaLocation="http://178.46.158.29:8001/RequestWebService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="GetDataResult" nillable="true" type="q1:ArrayOfCityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="LoginResult" nillable="true" type="q2:WebUserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workerId" type="xs:int" />
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FirlerWorkerId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="FilterStreetId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="FilterHouseId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="FilterAddressId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="FilterStatusId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="FilterParrentServiceId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="FilterServiceId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="badWork" type="xs:boolean" />
        <xs:element minOccurs="0" name="garanty" type="xs:boolean" />
        <xs:element minOccurs="0" name="clientPhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rating" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="filterByCreateDate" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="RequestListResult" nillable="true" type="q3:ArrayOfRequestForListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="GetRequestByIdResult" nillable="true" type="q4:RequestForListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestByWorkerAndId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workerId" type="xs:int" />
        <xs:element minOccurs="0" name="requestId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestByWorkerAndIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="GetRequestByWorkerAndIdResult" nillable="true" type="q5:RequestForListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="GetWorkersResult" nillable="true" type="q6:ArrayOfWorkerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkersByPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filterByCreateDate" type="xs:boolean" />
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="executeFromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="executeToDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="workerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkersByPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="GetWorkersByPeriodResult" nillable="true" type="q7:ArrayOfWorkerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreetListByWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreetListByWorkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="GetStreetListByWorkerResult" nillable="true" type="q8:ArrayOfStreetDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebStatuses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebStatusesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="GetWebStatusesResult" nillable="true" type="q9:ArrayOfWebStatusDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHousesByStreetAndWorkerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="streetId" type="xs:int" />
        <xs:element minOccurs="0" name="workerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHousesByStreetAndWorkerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="GetHousesByStreetAndWorkerIdResult" nillable="true" type="q10:ArrayOfWebHouseDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlatByHouseId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="houseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlatByHouseIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="GetFlatByHouseIdResult" nillable="true" type="q11:ArrayOfWebFlatDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="GetServicesResult" nillable="true" type="q12:ArrayOfServiceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaByRequestId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaByRequestIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMediaByRequestIdResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecordByIdResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestByUsersInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestByUsersInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="GetRequestByUsersInfoResult" nillable="true" type="q13:ArrayOfStatInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebCallsByRequestId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebCallsByRequestIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="GetWebCallsByRequestIdResult" nillable="true" type="q14:ArrayOfWebCallsDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestByWorkersInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestByWorkersInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="GetRequestByWorkersInfoResult" nillable="true" type="q15:ArrayOfStatInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusesAllowedInWeb">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusesAllowedInWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="GetStatusesAllowedInWebResult" nillable="true" type="q16:ArrayOfStatusDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestId" type="xs:int" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadFileResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="GetAttachmentListResult" nillable="true" type="q17:ArrayOfAttachmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestId" type="xs:int" />
        <xs:element minOccurs="0" name="note" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNoteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="GetNotesResult" nillable="true" type="q18:ArrayOfNoteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestId" type="xs:int" />
        <xs:element minOccurs="0" name="stateId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRedirectPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="secret" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRedirectPhoneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestsByPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestsByPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="GetRequestsByPhoneResult" nillable="true" type="q19:ArrayOfAppRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypesByPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypesByPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="GetTypesByPhoneResult" nillable="true" type="q20:ArrayOfAppTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesByPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesByPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="GetAddressesByPhoneResult" nillable="true" type="q21:ArrayOfAppAddressDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRequestFromPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="addressId" type="xs:int" />
        <xs:element minOccurs="0" name="typeId" type="xs:int" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRequestFromPhoneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workerId" type="xs:int" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="addressId" type="xs:int" />
        <xs:element minOccurs="0" name="typeId" type="xs:int" />
        <xs:element minOccurs="0" name="masterId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="executerId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRedirectPhone">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRedirectPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRedirectPhoneResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkerStat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentWorkerId" type="xs:int" />
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkerStatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" minOccurs="0" name="GetWorkerStatResult" nillable="true" type="q22:ArrayOfStatInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestActs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workerId" type="xs:int" />
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FirlerWorkerId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="FilterStreetId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="FilterHouseId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="FilterAddressId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="FilterStatusId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="FilterParrentServiceId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="FilterServiceId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestActsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRequestActsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileUploadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/Message" name="FileStream" type="q23:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element name="RequestId" type="xs:int" />
  <xs:element name="UserId" type="xs:int" />
  <xs:element name="FileUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetFileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>