request-web/Connected Services/WebService/RequestWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RequestWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://178.46.158.29:8001/RequestWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://178.46.158.29:8001/RequestWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://178.46.158.29:8001/RequestWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RequestServiceImpl.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRequestWebService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetCurrentDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentDate" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetCurrentDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentDateResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_RequestList_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestList" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_RequestList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestListResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetRequestById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestById" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetRequestById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetRequestByWorkerAndId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestByWorkerAndId" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetRequestByWorkerAndId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestByWorkerAndIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetWorkers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkers" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetWorkers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkersResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetWorkersByPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkersByPeriod" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetWorkersByPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkersByPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetStreetListByWorker_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStreetListByWorker" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetStreetListByWorker_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStreetListByWorkerResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetWebStatuses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWebStatuses" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetWebStatuses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWebStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetHousesByStreetAndWorkerId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHousesByStreetAndWorkerId" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetHousesByStreetAndWorkerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHousesByStreetAndWorkerIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetFlatByHouseId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlatByHouseId" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetFlatByHouseId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlatByHouseIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetServices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServices" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetServices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServicesResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetMediaByRequestId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMediaByRequestId" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetMediaByRequestId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMediaByRequestIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetRecordById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordById" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetRecordById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetRequestByUsersInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestByUsersInfo" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetRequestByUsersInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestByUsersInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetWebCallsByRequestId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWebCallsByRequestId" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetWebCallsByRequestId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWebCallsByRequestIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetRequestByWorkersInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestByWorkersInfo" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetRequestByWorkersInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestByWorkersInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetStatusesAllowedInWeb_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusesAllowedInWeb" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetStatusesAllowedInWeb_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusesAllowedInWebResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_DownloadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_DownloadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetAttachmentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachmentList" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetAttachmentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachmentListResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_AddNote_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNote" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_AddNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNoteResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetNotes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotes" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetNotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotesResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_ChangeState_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeState" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_ChangeState_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStateResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_SaveRedirectPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveRedirectPhone" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_SaveRedirectPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveRedirectPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetRequestsByPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestsByPhone" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetRequestsByPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestsByPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetTypesByPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypesByPhone" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetTypesByPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypesByPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetAddressesByPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressesByPhone" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetAddressesByPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressesByPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_CreateRequestFromPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRequestFromPhone" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_CreateRequestFromPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRequestFromPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetRedirectPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRedirectPhone" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetRedirectPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRedirectPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetWorkerStat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkerStat" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetWorkerStat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkerStatResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetRequestActs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestActs" />
  </wsdl:message>
  <wsdl:message name="IRequestWebService_GetRequestActs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestActsResponse" />
  </wsdl:message>
  <wsdl:portType name="IRequestWebService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetData" message="tns:IRequestWebService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetDataResponse" message="tns:IRequestWebService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetCurrentDate" message="tns:IRequestWebService_GetCurrentDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetCurrentDateResponse" message="tns:IRequestWebService_GetCurrentDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/Login" message="tns:IRequestWebService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/LoginResponse" message="tns:IRequestWebService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/RequestList" message="tns:IRequestWebService_RequestList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/RequestListResponse" message="tns:IRequestWebService_RequestList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestById">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetRequestById" message="tns:IRequestWebService_GetRequestById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetRequestByIdResponse" message="tns:IRequestWebService_GetRequestById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestByWorkerAndId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetRequestByWorkerAndId" message="tns:IRequestWebService_GetRequestByWorkerAndId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetRequestByWorkerAndIdResponse" message="tns:IRequestWebService_GetRequestByWorkerAndId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkers">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetWorkers" message="tns:IRequestWebService_GetWorkers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetWorkersResponse" message="tns:IRequestWebService_GetWorkers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkersByPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetWorkersByPeriod" message="tns:IRequestWebService_GetWorkersByPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetWorkersByPeriodResponse" message="tns:IRequestWebService_GetWorkersByPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStreetListByWorker">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetStreetListByWorker" message="tns:IRequestWebService_GetStreetListByWorker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetStreetListByWorkerResponse" message="tns:IRequestWebService_GetStreetListByWorker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWebStatuses">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetWebStatuses" message="tns:IRequestWebService_GetWebStatuses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetWebStatusesResponse" message="tns:IRequestWebService_GetWebStatuses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHousesByStreetAndWorkerId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetHousesByStreetAndWorkerId" message="tns:IRequestWebService_GetHousesByStreetAndWorkerId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetHousesByStreetAndWorkerIdResponse" message="tns:IRequestWebService_GetHousesByStreetAndWorkerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlatByHouseId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetFlatByHouseId" message="tns:IRequestWebService_GetFlatByHouseId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetFlatByHouseIdResponse" message="tns:IRequestWebService_GetFlatByHouseId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetServices" message="tns:IRequestWebService_GetServices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetServicesResponse" message="tns:IRequestWebService_GetServices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMediaByRequestId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetMediaByRequestId" message="tns:IRequestWebService_GetMediaByRequestId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetMediaByRequestIdResponse" message="tns:IRequestWebService_GetMediaByRequestId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordById">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetRecordById" message="tns:IRequestWebService_GetRecordById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetRecordByIdResponse" message="tns:IRequestWebService_GetRecordById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestByUsersInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetRequestByUsersInfo" message="tns:IRequestWebService_GetRequestByUsersInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetRequestByUsersInfoResponse" message="tns:IRequestWebService_GetRequestByUsersInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWebCallsByRequestId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetWebCallsByRequestId" message="tns:IRequestWebService_GetWebCallsByRequestId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetWebCallsByRequestIdResponse" message="tns:IRequestWebService_GetWebCallsByRequestId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestByWorkersInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetRequestByWorkersInfo" message="tns:IRequestWebService_GetRequestByWorkersInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetRequestByWorkersInfoResponse" message="tns:IRequestWebService_GetRequestByWorkersInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusesAllowedInWeb">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetStatusesAllowedInWeb" message="tns:IRequestWebService_GetStatusesAllowedInWeb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetStatusesAllowedInWebResponse" message="tns:IRequestWebService_GetStatusesAllowedInWeb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/DownloadFile" message="tns:IRequestWebService_DownloadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/DownloadFileResponse" message="tns:IRequestWebService_DownloadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetAttachmentList" message="tns:IRequestWebService_GetAttachmentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetAttachmentListResponse" message="tns:IRequestWebService_GetAttachmentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNote">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/AddNote" message="tns:IRequestWebService_AddNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/AddNoteResponse" message="tns:IRequestWebService_AddNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetNotes" message="tns:IRequestWebService_GetNotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetNotesResponse" message="tns:IRequestWebService_GetNotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeState">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/ChangeState" message="tns:IRequestWebService_ChangeState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/ChangeStateResponse" message="tns:IRequestWebService_ChangeState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveRedirectPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/SaveRedirectPhone" message="tns:IRequestWebService_SaveRedirectPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/SaveRedirectPhoneResponse" message="tns:IRequestWebService_SaveRedirectPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestsByPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetRequestsByPhone" message="tns:IRequestWebService_GetRequestsByPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetRequestsByPhoneResponse" message="tns:IRequestWebService_GetRequestsByPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTypesByPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetTypesByPhone" message="tns:IRequestWebService_GetTypesByPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetTypesByPhoneResponse" message="tns:IRequestWebService_GetTypesByPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAddressesByPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetAddressesByPhone" message="tns:IRequestWebService_GetAddressesByPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetAddressesByPhoneResponse" message="tns:IRequestWebService_GetAddressesByPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRequestFromPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/CreateRequestFromPhone" message="tns:IRequestWebService_CreateRequestFromPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/CreateRequestFromPhoneResponse" message="tns:IRequestWebService_CreateRequestFromPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRedirectPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetRedirectPhone" message="tns:IRequestWebService_GetRedirectPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetRedirectPhoneResponse" message="tns:IRequestWebService_GetRedirectPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkerStat">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetWorkerStat" message="tns:IRequestWebService_GetWorkerStat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetWorkerStatResponse" message="tns:IRequestWebService_GetWorkerStat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestActs">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestWebService/GetRequestActs" message="tns:IRequestWebService_GetRequestActs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestWebService/GetRequestActsResponse" message="tns:IRequestWebService_GetRequestActs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRequestWebService" type="tns:IRequestWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentDate">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetCurrentDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestList">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/RequestList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestById">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetRequestById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestByWorkerAndId">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetRequestByWorkerAndId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkers">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetWorkers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkersByPeriod">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetWorkersByPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStreetListByWorker">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetStreetListByWorker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebStatuses">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetWebStatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHousesByStreetAndWorkerId">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetHousesByStreetAndWorkerId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlatByHouseId">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetFlatByHouseId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMediaByRequestId">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetMediaByRequestId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordById">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetRecordById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestByUsersInfo">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetRequestByUsersInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebCallsByRequestId">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetWebCallsByRequestId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestByWorkersInfo">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetRequestByWorkersInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusesAllowedInWeb">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetStatusesAllowedInWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/DownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentList">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetAttachmentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNote">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/AddNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotes">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeState">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/ChangeState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveRedirectPhone">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/SaveRedirectPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestsByPhone">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetRequestsByPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTypesByPhone">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetTypesByPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressesByPhone">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetAddressesByPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRequestFromPhone">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/CreateRequestFromPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRedirectPhone">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetRedirectPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkerStat">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetWorkerStat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestActs">
      <soap:operation soapAction="http://tempuri.org/IRequestWebService/GetRequestActs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RequestWebService">
    <wsdl:port name="BasicHttpBinding_IRequestWebService" binding="tns:BasicHttpBinding_IRequestWebService">
      <soap:address location="http://178.46.158.29:8001/RequestWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>